.headTxt {
    text-align: center;
    color: #dddddd;
    background-color: #1a2369;
}
.srchCont {
    border: 1px solid grey;
}
.cityCont {
    border: 1px solid grey;
    margin-bottom: 20px;
}
.input{
    height: 28px;
    line-height: normal;
}
.btn{
    height: 20px;
    text-align: center;
    line-height: normal;
}
.fiveDayForecast {
    border: 1px solid grey;
}
.forecastCard {
    border: 1px solid grey;
}