body {
    background-color: #dddddd;
}
.headTxt {
    text-align: center;
    color: #dddddd;
    background-color: #1a2369;
}
.srchCont {
    margin-bottom: 20px;
    border: 1px solid grey;
    background-color: ivory;
    border-radius: 15px;
}
.cityNameHeader {
    display: flex;
    justify-content: space-between;
}
.weatherImg {
    height: 25px;
    width: 25px;
    margin-top: 10px;
}
.cityCont {
    border: 1px solid grey;
    margin-bottom: 20px;
    background-color: ivory;
    border-radius: 15px;
}
.input{
    height: 28px;
    line-height: normal;
}
.btn{
    height: 20px;
    text-align: center;
    line-height: normal;
}
.fiveDayForecast {
    border: 1px solid grey;
    background-color: ivory;
    border-radius: 15px;
    text-align: center;
}
.forecastCard {
    border: 1px solid grey;
    background-color: ivory;
    border-radius: 15px;
    display: inline-block;
}
.uvIndexG {
    background-color: #58c750;
}
.uvIndexY {
    background-color: #d9bd50;
}
.uvIndexO {
background-color: #f07930;
}
.uvIndexR {
    background-color: #d95050;
}